# Project dependencies
.cache
node_modules
yarn-error.log
package-lock.json

# Build directory
/public
.DS_Store

.vscode/
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

# End of https://mrkandreev.name/snippets/gitignore-generator/#react